:root {
  --highlight-color: #2196f3;
  --bk-dark-color: #2f303a;
  --main-font-color: #212121;
  --ordinary-font-color: #757575;
  --line-height-for-font-14: 1.14;
  --team-and-button-color: #f5f4fa;
  --project-gallery-border-color: #eeeeee;
  --client-logo-color: #AFB1B8;
  --elipse: rgba(255, 255, 255, 0.1);
  --transition-time-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Here is normalization - chrome*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style-type: none;
}

/*here is css*/
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-font-color);
}

.menu-border {
  border-bottom: 1px solid #ececec;
  min-height: 80px;
}

.menu {
  height: 79px;
  padding: 0 27px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 492px;
}

.menu-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-right__link {
  text-decoration: none;
  font-weight: 500;
  color: var(--ordinary-font-color);
  line-height: var(--line-height-for-font-14);
  font-size: 14px;
  letter-spacing: 0.02em;
  flex-basis: content;
  margin-left: 30px;
  transition: color var(--transition-time-timing)
}

.menu-right__link:focus,
.menu-right__link:hover {
  color: var(--highlight-color);
}

.menu-right__link:visited {
  color: inherit;
}

.menu-right__icon-mail-phone {
  fill: currentColor;
  margin-right: 10px;
}

.nav-submenu {
  vertical-align: middle;
  display: flex;
  width: 254px;
  justify-content: space-between;
}

.nav-submenu__link {
  text-decoration: none;
  font-weight: 500;
  color: var(--main-font-color);
  line-height: var(--line-height-for-font-14);
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: color var(--transition-time-timing)
}

.nav-submenu__link:visited {
  color: inherit;
}

.nav-submenu__link:focus,
.nav-submenu__link:hover {
  color: var(--highlight-color);
}

.nav-submenu__link--present {
  position: relative;
  color: var(--highlight-color);
}

.nav-submenu__link--present::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -204%;
  background: linear-gradient(var(--highlight-color), var(--highlight-color));
  border-radius: 2px;
}

.nav-submenu__link--present:visited {
  color: var(--highlight-color);
}




.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: transparent;
  text-decoration: none;
  display: block;
  letter-spacing: 0.03em;
  width: 145px;
}

.logo--color {
  background-image: linear-gradient(to right, var(--highlight-color) 0%, var(--highlight-color) 40.4%, var(--main-font-color) 40.4%, var(--main-font-color) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.logo--color-contr {
  background-image: linear-gradient(to right, var(--highlight-color) 0%, var(--highlight-color) 40.4%, #fff 40.4%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.contrast {
  background-color: var(--bk-dark-color);
  color: #fff;
}

.call-to-action {
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bk-dark-color);
  color: #fff;
}

.call-to-action--bg {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/index/cta_bg.jpg),
    linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1)100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 1600px, 1600px, 100%;
  background-position: center, center, center;
}

.call-to-action__h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

.button1 {
  background: var(--highlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1:hover {
  cursor: pointer;
}

.button1__icon-send {
  margin-left: 24px;
  fill: #fff;
}

.features {
  margin-bottom: 94px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.feature {
  display: block;
  width: 270px;
}

.feature__h3title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: var(--line-height-for-font-14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*position of next element*/
  margin-bottom: 10px;
  margin-top: 30px;
}

.feature__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ordinary-font-color);
}

.feature__icon {
  fill: var(--client-logo-color);
  background-color: var(--team-and-button-color);
  width: inherit;
  height: 120px;
  border-radius: 4px;
  padding: 25px 0;
}

.boxes {
  /*positioning*/
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.box {
  position: relative;
  max-height: 294px;
  width: 370px;
}

.box__img {
  display: block;
}

.box__label {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--line-height-for-font-14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  padding: 28px;
  height: 70px;
  width: inherit;
  position: absolute;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}


.team {
  background: var(--team-and-button-color);
  min-height: 648px;
}

.team-cards {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.team-card {
  width: 270px;
  height: 428px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  line-height: 0;
}

.team-card__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  /*positioning*/
  margin: 30px auto 10px;
}

.team-card__job {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--ordinary-font-color);
  margin-bottom: 16px;
}

/* social media icons in footer */

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list__item {
  line-height: 0px;
}

.client-list__logo {
  fill: var(--client-logo-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--client-logo-color);
  border-radius: 4px;
  padding: 16px 0;
  transition: fill var(--transition-time-timing), border-color var(--transition-time-timing);
}

.client-list__logo:hover {
  fill: var(--highlight-color);
  border-color: var(--highlight-color);
  cursor: pointer;
}

/*here start footer*/
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-data {
  min-height: 252px;
  padding: 60px 0;
  background-color: var(--bk-dark-color);
  color: #fff;
}

/* .address-margin {
  margin-bottom: 4px;
} */

.address-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 81px;
}

.address-group__text {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.address-group__link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--ordinary-font-color);
  transition: color var(--transition-time-timing)
}

.address-group__link:focus,
.address-group__link:hover {
  color: var(--highlight-color);
}

.address-group__link:visited {
  color: inherit;
}

.footer-social {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--line-height-for-font-14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-icon-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.social-icon-list__background-of-icon {
  background-color: var(--elipse);
  width: 44px;
  border-radius: 50%;
  line-height: 0;
  transition: background-color var(--transition-time-timing);
}

.social-icon-list__background-of-icon:hover {
  background-color: var(--highlight-color);
}

.social-icon-list__icon {
  fill: var(--client-logo-color);
  transition: fill var(--transition-time-timing);
}

.social-icon-list__icon--contrast {
  fill: #fff
}

.social-icon-list__icon:hover {
  fill: #fff;
}

.email-input {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-top: 12px;
  width: 570px;
}

.email-input__text {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--line-height-for-font-14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.email-input__form {
  display: flex;
  justify-content: flex-end;
  width: inherit;
  column-gap: 12px;
}

.email-input__entry {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 14px 16px;
  width: 358px;
  background-color: inherit;
  transition: border-color var(--transition-time-timing);
}

.email-input__entry:focus {
  border-color: var(--highlight-color);
  outline: none;
}



/*here starts modal window (index.html) css*/
.modal {
  width: 528px;
  height: 581px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__close-button {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0.6em;
}

.modal__close-icon {
  fill: #000;
  margin: auto;
}

.order-service {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 93%;
}

.order-service__labels {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--ordinary-font-color);
  display: flex;
  flex-direction: column;
  row-gap: 0.33em;
  width: 100%;
  position: relative;
}

.order-service__icon {
  position: absolute;
  top: 2.42em;
  left: 1em;
  fill: var(--main-font-color)
}

.order-service__squeres {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.01em;
  color: var(--ordinary-font-color);
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  text-indent: 42px;
}

.order-service__squeres:focus~.order-service__icon,
.order-service__squeres:focus,
.order-service__comment:focus {
  fill: var(--highlight-color);
  border-color: var(--highlight-color);
  outline-style: none;
  transition: border-color var(--transition-time-timing), fill var(--transition-time-timing);
}

.order-service__comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--ordinary-font-color);
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  overflow: auto;
}

.order-service__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--ordinary-font-color);
}


.order-service__checkbox-link {
  color: var(--highlight-color);
}

.order-service__custom-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 16px;
  height: 15px;
  background-image: url('data:image/svg+xml,%3Csvg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15"%3E%3Cpath d="M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z" fill="%23212121"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
}

.order-service__custom-checkbox:checked {
  background-image: url('data:image/svg+xml,%3Csvg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15"%3E%3Crect width="16" height="15" rx="2" fill="%232196F3"/%3E%3Cpath d="m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z" fill="%23fff" stroke="%23fff" stroke-width=".2"/%3E%3C/svg%3E');
}

.backdrop {
  position: fixed;
  top: 0;
  left: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop[open] {
  animation: fade-in 250ms forwards;
}

.backdrop[data-modal-close] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 250ms forwards;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*here starts portfolio.html css*/
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  background-color: var(--team-and-button-color);
  padding: 6px 22px;
  margin: 0 4px;
  border: 4px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  transition: background-color var(--transition-time-timing), color var(--transition-time-timing), box-shadow var(--transition-time-timing),
    border-radius var(--transition-time-timing);
}

.filter__button:active,
.filter__button:hover {
  background-color: var(--highlight-color);
  color: #fff;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.project-gallery {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.project {
  display: block;
  position: relative;
  height: 404px;
  max-width: 370px;
  border: 1px;
  border-style: solid;
  border-color: var(--project-gallery-border-color);
  flex-basis: calc((100%-60px)/3);
  transition: box-shadow var(--transition-time-timing);
  line-height: 0;
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project:hover .project__overlay {
  transform: translateY(0);
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-time-timing);
}

.project__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.project__overlay-mask {
  position: relative;
  overflow: hidden;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  padding: 20px 0 0 24px;
}

.project__type {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--ordinary-font-color);
  padding: 0 0 20px 24px;
}

/*CSS positions universal (across many html)*/
.section {
  padding: 94px 0;
}

.section__h2-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-bot-margin {
  margin-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.block-display {
  display: block;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}